/* importar tipografia */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap');
/* importar estilos */
@import url(./header.css);
@import url(./aboutme.css);
@import url(./carta.css);
@import url(./skills.css);
@import url(./contact.css);
@import url(./footer.css);
/* estilos globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variables de colores */
:root{
    --color-morado: #3e136f97;
    --color-rosa:#946993;
    --color-claro: #e4c7f8d0;
    --color-amarillo: #FBEE8C;
    --color-gris:#f7f0ff;
    --box-shadow: 2px 2px 20px #46444498 ;
}

html{
    scroll-behavior: smooth;
}

.tittle{
    background-color: var(--color-rosa);
    text-align: center;
    padding: 16px;
    font-size: 40px;
}

body{
    /* background-color: var(--color-claro); */
    font-family: 'Mulish', sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: unset;
}